{% extends "base.html" %}

{% block content %}
<div class="content-section">
    <legend class="border-bottom mb-4">Konto: <i> {{current_user.username + " | " + current_user.email}}</i>  </legend>
    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <a href="{{url_for('account', option='history')}}" class="btn btn-outline-info" role="button" style="margin-right:10px;">Historia Zamówień</a>
            <a href="{{url_for('account', option='change_passwd')}}" class="btn btn-outline-info" role="button" style="margin-right:10px;">Zmień Hasło</a>
            <a href="{{url_for('basket')}}" class="btn btn-outline-info" role="button" style="margin-right:10px;">Twój Koszyk</a>
            {% if current_user.username=='pablito11' %}
                <a href="{{url_for('account', option='moderate')}}" class="btn btn-outline-info" role="button" style="margin-right:10px;">Moderuj opinie</a>
            {% endif %}
        </form>
    </nav>
</div>

    {% block account %}
    <legend class="border-bottom">Historia zamówień</legend>
        {% for order, car in orders_cars %}
<div class="media content-section">

        <div>
            <a href = "{{ (url_for('car_profile', car_id=car.id))}}">
                <img class="align-self-start mr-3 img-fluid article-img rounded" src="../static/photos/{{car.image_file}}" alt="Generic placeholder image">
            </a>
        </div>
        <div class="media-body text-center">
            <h2><a class="article-title" href="{{ (url_for('car_profile', car_id=car.id))}}">{{ car.brand + " " + car.model }}</a></h2>
            <p class="article-content">status: <i> {{ order.status }}</i><br>
                data transakcji: <i>{{ order.order_date.strftime("%d-%m-%Y") }} </i><br>
                terminy: <i>Od {{ order.start_date }} Do {{order.end_date}}</i><br>
                koszt: <i> {{ (order.end_date - order.start_date).days * car.price }} zł</i><br>
            </p>
              <a href= "{{ (url_for('car_profile', car_id=car.id)) }}" class="btn btn-outline-info align-bottom" role = "button">Zobacz</a>
            {% if order.status=="W trakcie" %}
                <a href= "{{ (url_for('pay', order_id = order.order_id))}}" class="btn btn-info align-bottom" role = "button">Do płatności</a>
            {% endif %}
        </div>

</div>
<div style="margin-bottom:5px">
                <form class="form-group" method="POST" action="{{ url_for('account', option='add_opinion') }}">
                    <input type="hidden" name="order_id" value="{{ order.order_id }}">
                    {% if order.opinion %}
                    <textarea class="form-control" rows="2" name="opinion_text">{{order.opinion}}</textarea>
                    <input type="submit" class="btn btn-outline-info" style="margin-top: 3px;"  value="Edytuj opinię" >
                    {% else %}
                    <textarea class="form-control" rows="2" name="opinion_text" placeholder="Dodaj opinię"></textarea>
                    <input type="submit" class="btn btn-outline-info" style="margin-top: 3px;" value="Dodaj opinię">

                    {% endif %}
                </form>
            </div>
            <hr>

        {% endfor %}
    {% endblock account %}

{% endblock content%}

